@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Exo+2:wght@200;400&family=Lato:wght@300&family=Roboto:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.header {
    display: flex;



    &__nav {
        display: flex;

        &__logo {
            display: flex;
            height: 28px;
            margin-top: 30px;
            margin-left: 30px;

        }

        &__contenido {
            display: flex;
            width: 1200px;
            height: 100px;
            justify-content:space-around;

            &__izquierda {
                display: flex;
                gap: 30px;
                margin-top: 30px;
                margin-left: 50px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: hsl(0, 0%, 41%);
            
                &__company:hover{
                    cursor: pointer;
                    color: black;
                }
                &__features:hover{
                    cursor: pointer;
                    color: black;
                }
            }

            &__derecha {
                display: flex;
                height: 100%;
                gap: 40px;
                margin-top: 30px;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: hsl(0, 0%, 41%);



                &__button {
                    display: flex;
                    height: 28px;
                    width: 80px;
                    margin-top: -10px;
                    padding-top: 10px;
                    padding-left: 22px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    color: hsl(0, 0%, 41%);
                    border-radius: 15px;
                    border-color: hsl(0, 0%, 48%);
                    cursor: pointer;
                }
                &__button:hover{
                    color: black;
                }
            }

        }
    }
}

.main {
    display: flex;

    &__izquierda {
        display: flex;
        flex-direction: column;
        margin-right: 150px;
        margin-left: 120px;
        margin-top: 50px;

        &__make {

            display: flex;
            font-family: 'Roboto', sans-serif;
            font-size: 70px;

        }

        &__get {
            display: flex;
            font-family: 'Roboto', sans-serif;
            font-size: 17x;
            color: hsl(0, 0%, 41%);
            margin-top: 40px;

        }

        &__button {
            display: flex;
            height: 28px;
            width: 100px;
            margin-top: 30px;
            padding-top: 10px;
            padding-left: 24px;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: white;
            background-color: black;
            border-radius: 12px;
            cursor: pointer;
        }
        &__button:hover{
            color: black;
            background-color: white;
        }

        &__footer {
            margin-top: 70px;
            display: flex;
            gap: 20px;

            &__iconos {
                display: flex;
                height: 18px;
            }
        }

    }

    &__derecha {
        display: flex;
        height: 650px;
        margin-left: 100px;
        margin-top: 30px;

        &__img {
            display: flex;
            height: 600px;
        }
        &__mobile{
            display: none;
        }
    }
}


#contenedorFlotante{
    background-color: whitesmoke;
    margin-top: 30px;
    width: 170px;
    height: 120px;
    z-index: 100;
    border-radius: 20px;
    gap: 3px;
    position: absolute;
}
.letra{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 250px;
}
.hidden {
    display: none;
}
.cardFL{
    display: flex;
    flex-direction: column;
    width: 250px;

}
.imageFLO{
    display: flex;
    width: 250px;
    margin-left: 15px;
    margin-top: 10px;
    z-index: 100;   
}

#contenedorFlotante1{
    background-color: whitesmoke;
    margin-top: 10px;
    width: 100px;
    height: 90px;
    z-index: 100;
    border-radius: 20px;
    position: absolute;
}

.letra1{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 10px;
    width: 250px;
}
.hidden1 {
    display: none;
}
.cardFL1{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.imageFLO2{
    display: flex;
    width: 250px;
    margin-left: 15px;
    z-index: 100;   
}
.imageFLO1:hover{
    cursor: pointer;
}
.desabilitados:hover{
    color: black;
    cursor: pointer;
}
.container_hamb{
    display: none;
}


@media screen and (max-width: 800px){
    .header {
        &__nav {    
            &__contenido {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 60px;
                display: none;
    
                &__derecha {
                    display: flex;
                    gap: 40px;
                    margin-top: 30px;
                    margin-right: 0px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    color: hsl(0, 0%, 41%);

                    &__hamburguer{
                        display: block;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                }
    
            }
        }
        .container_hamb{
            display: block;
        }
        .hidden3{
            display: none;
        }
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        &__izquierda{
            margin-right: 0;
            margin-left: 0;
            margin-top: 0;
            width: 100%;
            align-items: center;
            &__footer {
                margin-top: 40px;
                justify-content: space-around;
                &__iconos {
                    display: flex;
                    height: 18px;
                }
            }
    
        }
        &__derecha {
            margin-left: 0px;

            &__img {
                display: none;
            }
            &__mobile{
                display: block;
            }
        }
        br{
            display: none;
        }
    }
}